PORT=3000
GEMINI_API_KEY=AIzaSyDh3NrXqQRNRsGgGLxF3heZxWutvk8_wP0

# Firebase Workload Identity Federation Config
# Ruta al archivo de configuración credencial WIF (por defecto client-configuration.json provisto por GCP)
GOOGLE_APPLICATION_CREDENTIALS=./client-configuration.json
